body{
    text-align: center;
     font-family: 'Arial';
      background-image: linear-gradient( rgba(0, 0, 255, 0.669), rgba(128, 0, 128, 0.659));
      color: rgb(227, 145, 248);
}
img {
    width: 200px;
}